<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<head>
<title>Platforms</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add Platform</h1>
	<div>
		<form th:object="${platform}" th:action="@{/saveplatform}" action="#"
			method="post">
			<label for="name">Platform</label> <input type="text" id="name"
				th:field="*{name}" /><span th:if="${#fields.hasErrors('name')}"
				th:errors="*{name}" class="text-danger"></span>
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
			<a href="/platformlist">Return to platformlist</a>
		</form>
	</div>
</body>
</html>