<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<head>
<title>Platformlist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Platforms</h1>
	<table class="table table-striped">
		<tr>
			<th>Platform</th>
			
		</tr>

		<tr th:each="platform : ${platforms}">
			<td th:text="${platform.name}">Platform name</td>
			<td><a
				th:href="@{/deleteplatform/{id}(id=${platform.platformid})}"
				class="btn btn-danger">Delete</a></td>
		</tr>
	</table>
	<a href="/addplatform" class="btn btn-success">Add platform</a>
	<a href="/gamelist" class="btn btn-warning">Return to gamelist</a>



</body>
</html>




</body>
</html>