<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<head>
<title>Publisherlist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Publishers</h1>
	<table class="table table-striped">
		<tr>
			<th>Publisher</th>
			<th sec:authorize="hasAuthority('ADMIN')"></th>
		</tr>

		<tr th:each="publisher : ${publishers}">
			<td th:text="${publisher.name}">Publisher name</td>
			<td><a
				th:href="@{/deletepublisher/{id}(id=${publisher.publisherid})}"
				class="btn btn-danger">Delete</a></td>
		</tr>
	</table>
	<a href="/addpublisher" class="btn btn-success">Add publisher</a>
	<a href="/gamelist" class="btn btn-warning">Return to gamelist</a>



</body>
</html>




</body>
</html>